/* Variables */
/* line 9, ../sass/style.scss */
html, body {
  height: 100%;
  width: 100%;
}

/* line 14, ../sass/style.scss */
body {
  position: fixed;
}

/* line 25, ../sass/style.scss */
.page-mylakbay .main-container.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  height: 100%;
  background: gray;
}
/* line 32, ../sass/style.scss */
.page-mylakbay .main-container.container #mapContainer {
  width: 75% !important;
  float: right !important;
  height: 100% !important;
  background: #fff;
}
/* line 38, ../sass/style.scss */
.page-mylakbay .main-container.container #directions {
  float: left;
  width: 25% !important;
  background: #fff;
  height: auto !important;
}
/* line 46, ../sass/style.scss */
.page-mylakbay .main-container.container > div {
  z-index: 1;
  position: relative;
  float: left;
  width: 25% !important;
}
/* line 53, ../sass/style.scss */
.page-mylakbay #fromSearchBox,
.page-mylakbay #toSearchBox {
  margin-top: 15px;
  position: relative;
}
/* line 57, ../sass/style.scss */
.page-mylakbay #fromSearchBox span,
.page-mylakbay #toSearchBox span {
  color: #fff;
}
/* line 60, ../sass/style.scss */
.page-mylakbay #fromSearchBox input,
.page-mylakbay #toSearchBox input {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #6e6e6e;
}
/* line 68, ../sass/style.scss */
.page-mylakbay #fromSearchBox .search-list,
.page-mylakbay #toSearchBox .search-list {
  position: absolute;
  top: 75px;
  background: #e1e1e1;
  color: #8c8c8c;
  width: 100%;
  border: 1px solid #969696;
  z-index: 1;
  border-radius: 10px;
}
/* line 77, ../sass/style.scss */
.page-mylakbay #fromSearchBox .search-list dl,
.page-mylakbay #toSearchBox .search-list dl {
  margin: 0px;
}
/* line 79, ../sass/style.scss */
.page-mylakbay #fromSearchBox .search-list dl dd,
.page-mylakbay #toSearchBox .search-list dl dd {
  padding: 10px 10px 10px 25px;
  display: block;
}
/* line 83, ../sass/style.scss */
.page-mylakbay #fromSearchBox .search-list dl dd:hover span,
.page-mylakbay #toSearchBox .search-list dl dd:hover span {
  color: #e10000;
}
/* line 87, ../sass/style.scss */
.page-mylakbay #fromSearchBox .search-list dl dd span,
.page-mylakbay #toSearchBox .search-list dl dd span {
  color: #787878;
}
/* line 92, ../sass/style.scss */
.page-mylakbay #fromSearchBox .search-list dl dt.title,
.page-mylakbay #toSearchBox .search-list dl dt.title {
  padding: 10px 10px 5px 10px;
  border-bottom: 1px solid #cdcdcd;
}
/* line 99, ../sass/style.scss */
.page-mylakbay #fromSearchBox .search-list dl .suggest-search dd:last-child span,
.page-mylakbay #toSearchBox .search-list dl .suggest-search dd:last-child span {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 108, ../sass/style.scss */
.page-mylakbay input[type='button'] {
  width: 100%;
  border: none;
  padding: 13px;
  border-radius: 10px;
  margin-top: 20px;
  color: #fff;
  font-weight: 900;
  background: #32b232;
}
/* line 118, ../sass/style.scss */
.page-mylakbay input[type='button']:hover {
  background: #149414;
}
