@import 'fonts';

/* Variables */

$base-width: 980px;
$theme-blue: #0073ba;
$theme-red: #c11e23;
$theme-gray-p: #666666;

html, body {
  height: 100%;
  width: 100%;
}

body {
  position: fixed;
}

.page-mylakbay * {

}


.page-mylakbay  {

  .main-container.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    height: 100%;
    background: url(../images/back.jpg) repeat;
    
    #mapContainer {
      width: 75% !important;
      float: right !important;
      height: 100% !important;
      background: #fff;
    }
    #directions {
      overflow: auto;
      z-index: 0;
      height: auto !important;
      ol {
        background: #fff;
        margin-bottom: 0px;
      }
    }
    #left-side {
      width: 25%;
      float: left;
      height: 100%;
      overflow-y: auto;
    }

    #left-side > div {
      width: 100% !important;
    }
  }

  #fromSearchBox > span,
  #toSearchBox > span {
    display: none;
  }

  #fromSearchBox,
  #toSearchBox {
    margin-top: 15px;
    position: relative;
    span {
      color: #fff;
    }
    input {
      width: 100%;
      padding: 15px;
      border-radius: 10px;
      border: none;
      outline: none;
      color: #fff;
      background: #433e7d- 10;
      -webkit-box-shadow: inset 0 0 2px 2px #433e7d - 20;
      -moz-box-shadow: inset 0 0 2px 2px #433e7d - 20;
      box-shadow: inset 0 0 2px 2px #433e7d - 20;
      @include font-size(30);
      text-transform: uppercase;
      font-family: 'CABNDWeb-Bold';
    }
    .search-list {
      position: absolute;
      top: 58px;
      background: #fff - 30;
      color: #000 + 140;
      width: 100%;
      border: 1px solid #000 + 150;
      z-index: 1;
      border-radius: 10px;
      dl {
        margin: 0px;
        dd {
          padding: 10px 10px 10px 25px;
          display: block;
          &:hover {
            span {
              color: red - 30;
            }
          }
          span {
            color: #000 + 120;
          }
        }
      }
      dl dt.title {
        padding: 10px 10px 5px 10px;
        border-bottom: 1px solid #fff - 50;
      }

      dl .suggest-search {
        dd:last-child {
          span {
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
          }
        }
      }
    }
    ::-webkit-input-placeholder {
      color: #fff;
      font-weight: 700;
      font-family: 'CABNDWeb-Bold';
      @include font-size(30);
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    }

    :-moz-placeholder { /* Firefox 18- */
      color: #fff;
      font-weight: 700;
      font-family: 'CABNDWeb-Bold';
      @include font-size(30);
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3); 
    }

    ::-moz-placeholder {  /* Firefox 19+ */
      color: #fff;
      font-weight: 700;
      font-family: 'CABNDWeb-Bold';
      @include font-size(30);
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3);  
    }

    :-ms-input-placeholder {  
      color: #fff;
      font-weight: 700;
      font-family: 'CABNDWeb-Bold';
      @include font-size(30);
      text-shadow: 2px 4px 3px rgba(0,0,0,0.3); 
    }
  }

  input[type='button']{
    width: 100%;
    border: none;
    padding: 13px;
    border-radius: 10px;
    margin-top: 20px;
    color: #fff;
    font-weight: 700;
    background: #ddb40f;
    font-family: 'CABNDWeb-Bold';
    text-transform: uppercase;
    outline: none;
    @include font-size(30);
    -webkit-box-shadow: inset 0 0 6px 6px #ddb40f - 60;
    -moz-box-shadow: inset 0 0 6px 6px #ddb40f - 60;
    box-shadow: inset 0 0 6px 6px #ddb40f - 60;
    border: 1px solid #ddb40f;

    &:hover {
      background: #ddb40f + 10;
    }
  }
  
}
